.batches-titleCol.batches-col {
    display: flex;
    width: 100%;
    text-align: left;
    padding: 16px;
    align-items: center;
}
.batches-titleCol.batches-col:nth-child(odd) {
    background-color: #F7F8FA;
}
.batches__layout-itemIcon,
.batches__layout-id,
.batches__layout-status,
.batches__layout-processed,
.batches__layout-total {
    flex: 1 1 20%;
}

.batches {
    padding: 24px 16px;
    background: #fff;
    border-radius: 8px;
}
.batches-title {
    text-align: left;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-bottom: 24px;
}

.batches__layout-status--finished {
    padding: 4px 8px;
    border-radius: 8px;
    background: #E9FAEF;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
    color: #16A34A;
}

.batches__layout-status--processing {
    padding: 4px 8px;
    border-radius: 8px;
    background: #E6F7FE;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
    color: #027FB7;
}

.batches__layout-itemIcon {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
}
.batches__layout-id {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}
.batches__layout-processed {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
}
.batches__layout-total {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: right;
}

.batches-col--header {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: left;
    text-transform: uppercase;
    color:#44546F;

}
.batches-col--header div {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}
span.chart-copy-icon {
    padding: 6px;
    position: absolute;
    top: -7px;
    display: none;
}
.batches__layout-itemIcon:hover,
.batches__layout-id:hover {
    cursor: pointer;
    position: relative;
}
.batches__layout-itemIcon:hover span.chart-copy-icon ,
.batches__layout-id:hover span.chart-copy-icon  {
    display: inline;
}
@media (max-width: 768px) {
    .batches-titleCol.batches-col {        
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 8px;
    }
    .batches__layout-itemIcon {
        width: 100%;
        flex: 1 1 100%;
    }
    .batches__layout-id,
    .batches__layout-status,
    .batches__layout-processed,
    .batches__layout-total batches__layout-total--0 {
        width: calc(100% / 4);       
    }
    .batches__layout-total {
        text-align: right;
    }
    .batches-titleCol.batches-col:nth-child(odd) {
        background-color: #fff;
    }
    .batches-titleCol.batches-col:nth-child(even) {
        background-color: #F7F8FA;
    }
    .batches-titleCol.batches-col.batches-titleCol.batches-col--header {
        display: none;
    }
    .batches__layout-status {
        margin-left: 14px;
    }
}