@-webkit-keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.pie-chart {
  font-family: "Open Sans", Arial;
  background-color: #fff;
  border-radius: 8px;
}

.pie-chart__pie,
.pie-chart__legend {
  display: inline-block;
  vertical-align: top;
  flex-wrap: wrap;
}

.pie-chart__pie {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 10px auto 35px;
  flex: 1 1 auto;
}

.pie-chart__pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  -webkit-animation: bake-pie 1s;
  animation: bake-pie 1s;
}

.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}

.pie-chart__legend {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  padding: 0.75em 0em 0.05em 4em;
  font-size: 13px;
  text-align: left;
  display: flex;
}

.pie-chart__icon {
  width: 10px;
  display: inline-block;
  height: 10px;
  border-radius: 50px;
}

.pie-chart__legend em {
  font-style: normal;
}

.pie-chart__percentage {
  padding-left: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #626F86;
}

.pie-chart__item {
  display: flex;
  flex: 1 1 50%;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 8px;
}

.pie-chart {
  display: flex;
  gap: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 6px 48px;
  align-items: center;
}

.pie-chart__title {
  flex: 1 1 20%;
  text-align: left;
}

.pie-chart-legendContainer {
  flex: 1 1 60%;
}

.pie-chart-status {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  margin-bottom: 4px;
}

.pie-chart-date {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  margin-bottom: 16px;
}

.pie-chart-results {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 8px;
}

.pie-chart-total {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}

.pie-chart__itemQty {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  color: #0F354B;
  margin-left: 16px;
}

.pie-chart__itemItle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

.pie-chart__item--running {
  order: 1;
}

.pie-chart__item--success {
  order: 3;
}

.pie-chart__item--scheduled {
  order: 2;
}

.pie-chart__item--error {
  order: 4;
}

.pie-chart__content {
  display: inline-block;
  padding: 5px 10px;
  width: 100%;
  border-radius: 8px;
}

.pie-chart__item--success .pie-chart__content {
  background: #F7F8FA;
  border-radius: 8px;
  width: 60%;
}

@media (max-width: 768px) {
  .overView__layout {
    display: flex;
    flex-direction: column;
  }

  .pie-chart {
    flex-direction: column;

  }

  .pie-chart {
    padding: 6px 20px;
  }

  .pie-chart__legend {
    padding: 0;
  }

  .pie-chart__item--success .pie-chart__content {
    width: 100%;
  }
}